$section1: rgb(234, 166, 148);
$section2: rgb(178, 99, 73);
$section3: rgb(252, 234, 217);
$section4: rgb(232, 176, 81);
$section5: rgb(172, 191, 168);
$section6: rgb(206, 173, 78);
$section7: rgb(204, 185, 149);