body .section {
  height: auto;
}
body .section-image {
  width: 100%;
  padding: 0;
}
body .arrow-container {
  width: 10vw;
  height: 10vw;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background-color: lightgray;
  opacity: 80%;
  position: absolute;
  padding: 5px;
}
body .arrow-container .arrow {
  height: 100%;
  width: 100%;
}
body .section .section-text {
  position: relative;
}
body .section .section-text .section-background {
  background-repeat: space;
  height: 400px;
}
body .section .section-text .section-text-container {
  background-color: white;
  opacity: 75%;
  border-radius: 20px;
  width: 80%;
  padding: 10px;
  position: absolute;
  height: 300px;
  bottom: 50px;
  left: 10%;
  border: 1px solid black;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}
body .section .section-text .section-text-container .section-heading {
  font-size: 5.5vw;
  font-weight: bolder;
}
body .section .section-text .section-text-container .section-paragraph {
  font-size: 4.5vw;
  font-weight: bold;
  line-height: 1.5;
}
body .section .section-text .section-text-container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
@media (min-width: 800px) {
  body .section .section-text .section-text-container .section-heading {
    font-size: 3.5vw;
  }
  body .section .section-text .section-text-container .section-paragraph {
    font-size: 2.5vw;
  }
}
@media (min-width: 1200px) {
  body .section .section-image {
    width: 50%;
    height: 30vw;
  }
  body .section .section-text {
    width: 50%;
    height: 30vw;
    float: right;
  }
  body .section .section-text .arrow-container {
    display: none;
  }
  body .section .section-text .section-background {
    height: 100%;
  }
  body .section .section-text .section-text-container {
    height: 70%;
    bottom: 15%;
  }
  body .section .section-text .section-text-container .section-heading {
    font-size: 2.5vw;
  }
  body .section .section-text .section-text-container .section-paragraph {
    font-size: 1.5vw;
  }
}
body .section1 .section-background {
  background-image: url(../images/ladder1.svg);
  background-color: rgb(234, 166, 148);
}
body .section2 .section-background {
  background-image: url(../images/ladder1_nostart.svg);
  background-color: rgb(178, 99, 73);
}
body .section3 .section-background {
  background-image: url(../images/ladder2.svg);
  background-color: rgb(252, 234, 217);
}
body .section4 .section-background {
  background-image: url(../images/ladder2.svg);
  background-color: rgb(232, 176, 81);
}
body .section5 .section-background {
  background-image: url(../images/ladder3.svg);
  background-color: rgb(172, 191, 168);
}
body .section6 .section-background {
  background-image: url(../images/ladder3.svg);
  background-color: rgb(206, 173, 78);
}
body .section7 .section-background {
  background-image: url(../images/ladder4.svg);
  background-color: rgb(204, 185, 149);
}
body .intro {
  height: 100vh;
  min-height: 120vw;
  position: relative;
}
body .intro .title {
  font-size: 8vw;
}
body .intro .author {
  font-size: 4vw;
}
body .intro .logo {
  width: 50%;
}
body .intro .language {
  width: 20vw;
}
@media (min-width: 800px) {
  body .intro {
    min-height: 60vw;
  }
  body .intro .title {
    font-size: 4vw;
    margin-top: 100px;
  }
  body .intro .author {
    font-size: 3vw;
    margin-top: 10px;
  }
  body .intro .logo {
    width: 35%;
  }
  body .intro .language {
    width: 15vw;
  }
}
@media (min-width: 1200px) {
  body .intro {
    min-height: 40vw;
  }
  body .intro .title {
    font-size: 3vw;
    margin-top: 100px;
  }
  body .intro .author {
    font-size: 2vw;
    margin-top: 10px;
  }
  body .intro .logo {
    width: 20%;
  }
  body .intro .language {
    width: 10vw;
  }
}

/*# sourceMappingURL=app.css.map */
